{% load static %}
<!doctype html>
<html lang="en">
	{% include "head.html" %}
	<body>

		<!-- Loading starts -->
		<div id="loading-wrapper">
			<div class='spinner-wrapper'>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
			</div>
		</div>
		<!-- Loading ends -->


		<!-- *************
			************ Header section start *************
		************* -->


		<!-- Header start -->
		{% include "header.html" %}
		<!-- Header end -->

		<!-- *************
			************ Header section end *************
		************* -->


		<div class="container-fluid">


			<!-- Navigation start -->
			{% include "navbar.html" %}
			<!-- Navigation end -->


			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">


				<!-- Page header start -->
				<div class="page-header">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Tables</li>
						<li class="breadcrumb-item active">Data Tables</li>
					</ol>
				</div>
				<!-- Page header end -->


				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

							<div class="table-container">
								<h5 class="table-title">All Patients</h5>
								<!--*************************
									*************************
									*************************
									Fixed Header table start
								*************************
								*************************
								*************************-->
								<div class="table-responsive">
									<table id="fixedHeader" class="table">
										<thead>
											<tr>
											  <th>Name</th>
											  <th>Email</th>
											  <th>Mobile</th>
											  <th>DOB</th>
											  <th>Blood Type</th>
											  <th>Marital Status</th>
											  <th>Address</th>
											  <th>Sex</th>
											  <th>Medical</th>
											</tr>
										</thead>
										<tbody>
										{% for data in show %}
											<tr>
											  <td>{{data.first_name}} {{data.last_name}}</td>
											  <td>{{data.email}}</td>
											  <td>{{data.phone}}</td>
											  <td>{{data.dob}}</td>
											  <td>{{data.blood_type}}</td>
											  <td>{{data.m_status}}</td>
												<td>{{data.address}}</td>
											    <td>{{data.sex}}</td>
												 <td>{{data.medical}}</td>
											</tr>
										{% endfor %}
										</tbody>
						    	</table>
								</div>
								<!--*************************
									*************************
									*************************
									Fixed Header table end
								*************************
								*************************
								*************************-->
							</div>
						</div>

					</div>
					<!-- Row end -->

				</div>
				<!-- Content wrapper end -->


			</div>
			<!-- *************
				************ Main container end *************
			************* -->
		{% include "footer.html" %}

		</div>

	{% include "foot.html" %}

	</body>
</html>