{% load static %}
<!doctype html>
<html lang="en">
	{% include "head.html" %}
	<body>

		<!-- Loading starts -->
		<div id="loading-wrapper">
			<div class='spinner-wrapper'>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
				<div class='spinner'>
					<div class='inner'></div>
				</div>
			</div>
		</div>
		<!-- Loading ends -->


		<!-- *************
			************ Header section start *************
		************* -->


		<!-- Header start -->
		{% include "header.html" %}
		<!-- Header end -->

		<!-- *************
			************ Header section end *************
		************* -->


		<div class="container-fluid">


			<!-- Navigation start -->
			{% include "navbar.html" %}
			<!-- Navigation end -->


			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">


				<!-- Page header start -->
				<div class="page-header">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Tables</li>
						<li class="breadcrumb-item active">Data Tables</li>
					</ol>
				</div>
				<!-- Page header end -->


				<!-- Content wrapper start -->
				<div class="content-wrapper">
				{% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Search</div>
								</div>
								<div class="card-body">
									
									<div class="row gutters">
										<div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
										<form action="/user/dropdown" method="POST"> 
											{% csrf_token %}
											<div class="form-group">
												<select class="form-control form-control-lg" name="med">
													<option>Select Medical Record</option>
													<option value="Malaria">Malaria</option>
													<option value="Typhoid">Typhoid</option>
													<option value="High BP">High BP</option>
													<option value="Diabetics">Diabetics</option>
												</select>
											</div>
										</div>
										
										<div class="col-xl-4 col-lg col-md-4 col-sm-4 col-12">
										<div class="col-xl-4">
											<button class="btn btn-primary btn-block" type="submit">Filter</button>
										</div>
										</div>
									</form>
									</div>

								</div>
							</div>
						</div>
					<!-- Row start -->
				{% if ex %}
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

							<div class="table-container">
								<h5 class="table-title">All Patients</h5>
								<!--*************************
									*************************
									*************************
									Fixed Header table start
								*************************
								*************************
								*************************-->
								<div class="table-responsive">
									<table id="fixedHeader" class="table">
										<thead>
											<tr>
											  <th>Name</th>
											  <th>Email</th>
											  <th>Mobile</th>
											  <th>DOB</th>
											  <th>Blood Type</th>
											  <th>Marital Status</th>
											  <th>Address</th>
											  <th>Sex</th>
											  <th>Medical</th>
											</tr>
										</thead>
										<tbody>
										{% for data in show %}
											<tr>
											  <td>{{data.first_name}} {{data.last_name}}</td>
											  <td>{{data.email}}</td>
											  <td>{{data.phone}}</td>
											  <td>{{data.dob}}</td>
											  <td>{{data.blood_type}}</td>
											  <td>{{data.m_status}}</td>
												<td>{{data.address}}</td>
											    <td>{{data.sex}}</td>
												 <td>{{data.medical}}</td>
											</tr>
										{% endfor %}
										</tbody>
						    	</table>
								</div>
								<!--*************************
									*************************
									*************************
									Fixed Header table end
								*************************
								*************************
								*************************-->
							</div>
						</div>

					</div>
				{% else %}
				{% endif %}
					<!-- Row end -->

				</div>
				<!-- Content wrapper end -->


			</div>
			<!-- *************
				************ Main container end *************
			************* -->
			{% include "footer.html" %}

		</div>

	{% include "foot.html" %}

	</body>
</html>