{% load static %}
<script src="{% static 'js/jquery.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		<script src="js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Apex Charts -->
		<script src="{% static 'vendor/apex/apexcharts.min.js'%}"></script>
		<script src="{% static 'vendor/apex/examples/mixed/hospital-line-column-graph.js'%}"></script>
		<script src="{% static 'vendor/apex/examples/mixed/hospital-line-area-graph.js'%}"></script>
		<script src="{% static 'vendor/apex/examples/bar/hospital-patients-by-age.js'%}"></script>

		<!-- Rating JS -->
		<script src="{% static 'vendor/rating/raty.js'%}"></script>	
		<script src="{% static 'vendor/rating/raty-custom.js'%}"></script>		

		<!-- Main Js Required -->
		<script src="{% static 'js/main.js'%}"></script>
        <script src="{% static 'vendor/wizard/jquery.steps.min.js'%}"></script>
		<script src="{% static 'vendor/wizard/jquery.steps.custom.js'%}"></script>
        <script src="{% static 'vendor/datepicker/js/picker.js'%}"></script>
		<script src="{% static 'vendor/datepicker/js/picker.date.js'%}"></script>
		<script src="{% static 'vendor/datepicker/js/custom-picker.js'%}"></script>
		<script src="{% static 'vendor/datatables/dataTables.min.js'%}"></script>
		<script src="{% static 'vendor/datatables/dataTables.bootstrap.min.js'%}"></script>
		
		<!-- Custom Data tables -->
		<script src="{% static 'vendor/datatables/custom/custom-datatables.js'%}"></script>
		<script src="{% static 'vendor/datatables/custom/fixedHeader.js'%}"></script>
