{% load static %}
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="{% static 'img/fav.png'%}" />

		<!-- Title -->
		<title>eHealth Portal</title>
		
		<!-- *************
			************ Common Css Files *************
			************ -->
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'fonts/style.css'%}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />

		<!-- Master CSS -->
        <link rel="stylesheet" href="{% static 'vendor/wizard/jquery.steps.css'%}" />
		<link rel="stylesheet" href="{% static 'css/main.css'%}" />
        <link rel="stylesheet" href="{% static 'vendor/datepicker/css/classic.css'%}" />
		<link rel="stylesheet" href="{% static 'vendor/datepicker/css/classic.date.css'%}" />
		<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs4.css'%}" />
		<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs4-custom.css'%}" />	

	</head>