{% load static %}
<header class="header">
			<div class="container-fluid">

				<!-- Row start -->
				<div class="row gutters">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
						<a href="/user/dashboard" class="logo">eHealth <span>System</span></a>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-sm-block">
								<a href="#" class="contact">
									<i class="icon-phone"></i> 08069475532
								</a>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name">{{user.title}} {{user.last_name}}</span>
									<span class="avatar">NR<span class="status busy"></span></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<div class="header-user-profile">
											<div class="header-user">
												
											</div>
											<h5>{{user.last_name}} {{user.first_name}}</h5>
											{% if user.user_role == 2 %}
												<p>Medical Practitional</p>
											{% else %}
												<p>Patient</p>
											{% endif %}
										</div>
										<a href="/user/logout"><i class="icon-log-out1"></i> Sign Out</a>
									</div>
								</div>
							</li>
						</ul>						
						<!-- Header actions end -->

					</div>
				</div>
				<!-- Row end -->

			</div>
		</header>