<!doctype html>
<html lang="en">
	{% include "head.html" %}

	<body class="authentication">

		<!-- Container start -->
		<div class="container">
			
			<form action="/user/signin" method="POST">
				{% csrf_token %}
				<div class="row justify-content-md-center">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<a href="#" class="login-logo">
									eHealth Login
								</a>
								{% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
								<h5>Welcome back,<br />Please Login to your Account.</h5>
								<div class="form-group">
									<input type="text" name="email" class="form-control" placeholder="Email Address" />
								</div>
								<div class="form-group">
									<input type="password" name="password" class="form-control" placeholder="Password" />
								</div>
								<div class="actions">
									<a href="forgot-pwd.html">Recover password</a>
									<button type="submit" class="btn btn-info">Login</button>
								</div>
								<hr>
								<div class="m-0">
									<div>Don't have an account ? </div>
									<span class="additional-link">
										<a href="/user/signup" class="btn btn-secondary">Patient Signup</a>
										<a href="/user/doc_signup" class="btn btn-secondary">Doctor Signup</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!-- Container end -->

	</body>
</html>