{% load static %}
<!doctype html>
<html lang="en">
{% include "head.html" %}
		<body>

			<!-- Loading starts -->
			<div id="loading-wrapper">
				<div class='spinner-wrapper'>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
					<div class='spinner'>
						<div class='inner'></div>
					</div>
				</div>
			</div>
			<!-- Loading ends -->


		<!-- *************
			************ Header section start *************
			************* -->


			<!-- Header start -->
			{% include "header.html" %}
			<!-- Header end -->

		<!-- *************
			************ Header section end *************
			************* -->


			<div class="container-fluid">


				<!-- Navigation start -->
				{% include "navbar.html" %}
				<!-- Navigation end -->


			<!-- *************
				************ Main container start *************
				************* -->
				<div class="main-container">

					<!-- Page header start -->
					<div class="page-header">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Dashboard</li>
							<li class="breadcrumb-item active">Medical Information</li>
						</ol>
					</div>
					<!-- Page header end -->


					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<div class="row gutters">
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
								<div class="card">
									<div class="card-body">
										<div class="account-settings">
											<div class="user-profile">
												<div class="user-avatar">
													
												</div>
												<h5 class="user-name">{{user.title}} {{user.first_name}} {{user.last_name}}</h5>
												<h6 class="user-email">{{user.email}}</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Patient Medical Information</div>
									</div>
									{% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
									<div class="card-body">
									<form method="POST" action="/user/medical_info">
										{% csrf_token %}
										<div class="row gutters">
											<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
												<div class="form-group">
													<label for="fullName">Date of Birth</label>
													<input type="text" name="dob" class="form-control datepicker-date-format2" placeholder="Date of birth">
												</div>
												<div class="form-group">
													<label for="eMail">Blood Type</label>
													<select class="form-control" name="blood_type">
														<option>Select your blood type</option>
														<option value="O">Type O</option>
														<option value="A">Type A</option>
														<option value="B">Type B</option>
														<option value="AB">Type AB</option>
													</select>
												</div>
												<div class="form-group">
													<label for="phone">Marital Status</label>
													<select class="form-control" name="m_status">
														<option>Select your Marital Status</option>
														<option value="Single">Single</option>
														<option value="Married">Married</option>
														<option value="Divorced">Divorced</option>
														<option value="Widowed">Widowed</option>
													</select>
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
												<div class="form-group">
													<label for="addRess">Address</label>
													<input type="text" name="address" class="form-control" id="addRess" placeholder="Enter Address">
												</div>
												<div class="form-group">
													<label for="ciTy">Sex</label>
													<select class="form-control" name="sex" >
														<option>Select Sex</option>
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>
												</div>
												<div class="form-group">
													<label for="sTate">Medical Condition</label>
													<select class="form-control" name="medical">
														<option>Select Medical Condition</option>
														<option value="Malaria">Malaria</option>
														<option value="Typhoid">Typhoid</option>
														<option value="High BP">High BP</option>
														<option value="Diabetics">Diabetics</option>
													</select>
												</div>
											</div>
											<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
												<div class="text-right">
													<button type="button" id="cancel" name="cancel" class="btn btn-light">Cancel</button>
													<button type="submit" id="submit2" name="submit2" class="btn btn-primary">Submit Form</button>
												</div>
											</div>
										</div>
									</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->
				</div>
			<!-- *************
				************ Main container end *************
				************* -->


				{% include "footer.html" %}


			</div>
			{% include "foot.html" %}

		</body>
		</html>