{% load static %}
<nav class="navbar navbar-expand-lg custom-navbar">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#royalHospitalsNavbar" aria-controls="royalHospitalsNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i></i>
						<i></i>
						<i></i>
					</span>
				</button>
				<div class="collapse navbar-collapse" id="royalHospitalsNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/user/dashboard">
								<i class="icon-devices_other nav-icon"></i>
								Dashboard
							</a>
						</li>
                        {% if user.user_role == 2 %}
                        {% else %}
						<li class="nav-item dropdown">
							<a class="nav-link" href="/user/medical_info" id="doctoRs" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="icon-users nav-icon"></i>
								Fill Medical Info
							</a>
						</li>
                        {% endif %}
                        {% if user.user_role == 2 %}
						<li class="nav-item">
							<a class="nav-link" href="/user/all_patient" id="pagesDropdown" role="button"aria-haspopup="true" aria-expanded="false">
								<i class="icon-book-open nav-icon"></i>
								All Patients
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/dropdown" id="loginDropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="icon-border_all nav-icon"></i>
								Filter User
							</a>
						</li>
						{% else %}
                        {% endif %}
                        <li class="nav-item">
							<a class="nav-link" href="/user/chart" id="loginDropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="icon-pie-chart1 nav-icon"></i>
								Chart
							</a>
						</li>
					</ul>
				</div>
			</nav>