<!doctype html>
<html lang="en">
	{% include "head.html" %}

	<body class="authentication">

		<!-- Container start -->
		<div class="container">
			
			<form action="/user/signup" method="POST">
				{% csrf_token %}
				<div class="row justify-content-md-center">
					<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<a href="#" class="login-logo">
									eHealth Login
								</a>
								<h5>Welcome,<br />Kindly fill in your information to register on eHealth portal</h5>
								<div class="form-group">
									<select class="form-control" name="title">
										<option>Title</option>
										<option value="Mr">Mr</option>
										<option value="Mrs">Mrs</option>
										<option value="Chief">Chief</option>
										<option value="Dr">Dr</option>
										<option value="Miss">Miss</option>
									</select>
								</div>
								<div class="form-group">
									<input type="text" name="first_name" class="form-control" placeholder="First Name" />
								</div>
								<div class="form-group">
									<input type="text" name="last_name" class="form-control" placeholder="Last Name" />
								</div>
								<div class="form-group">
									<input type="email" name="email" class="form-control" placeholder="Email Address" />
								</div>
								<div class="form-group">
									<input type="number" name="phone" class="form-control" placeholder="Mobile Number" />
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="password" name="password1" class="form-control" placeholder="Password" />
										<input type="password" name="password2" class="form-control" placeholder="Confirm Password">
									</div>
									<small id="passwordHelpInline" class="text-muted">
										Password must be 8-20 characters long.
									</small>
								</div>
								<div class="actions">
									<button type="submit" class="btn btn-primary">Signup</button>
								</div>
								<hr>
								<div class="m-0">
									<span class="additional-link">Already have an account? <a href="/" class="btn btn-secondary">Login</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!-- Container end -->

	</body>
</html>